{% schema %}
{
  "name": "Delivery Scheduler",
  "target": "section",
  "templates": ["cart"],
}
{% endschema %}


<div id="dynamic-delivery-scheduler-app-block" data-product-options>
  <!-- Your app will inject custom fields here -->
</div>



